*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.media{
    text-align: center;
}
h3{
    color:rgba(149, 247, 2, 0.705);
    text-decoration: underline;
    margin-bottom: 15px;
    margin:12px;
}
p{
    color: white;
    margin-left:8px;
}
.tiktok{
    margin:12px;
    display: flex;
    margin-bottom: 5%;
}
.instagram{
    margin:12px;
    display: flex;
    margin-bottom: 5%;
}
.X{
    margin:12px;
    display: flex;
    margin-bottom: 5%;
}
.whatsapp{
    margin:12px;
    display: flex;
    margin-bottom: 5%;
}
.telegram{
    margin:12px;
    display: flex;
    margin-bottom: 5%;
}
button{
   width:45px;
   height:30px; 
   margin-bottom: 5%;
   border:1px solid;
   border-radius: 9px;
}
button:hover{
    color:rgb(150, 140, 140);
    cursor: pointer;
}