*{
    margin:0;
    padding:0;
}
.header{
    background:black;
    padding: 10px;
    margin:auto;
    margin-top:9px;
    text-align:center;
    width:700px;
    border-radius: 10px 15px 20px 30px;
    margin-bottom: 25px;
}
.div2{
    background:rgb(37, 189, 37);
    display:inline-flex;
    margin:10px;
    border-radius: 12px;
    margin-bottom: 50px;
    margin-top: 50px;
}
h1{
    color:#f0f8f0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:45px;
}
p{
    color:#f0f8f0;
    font-size: 20px;
    padding: 10px;
}
.p1{
    line-height: 40px;
    border:3px solid rgb(7, 233, 7);
    width:50%;
    border-radius: 12px;
}
.p2{
    line-height: 45px;
    border:3px solid rgb(7, 233, 7);
    margin-left: 3px;
    border-radius: 12px;
}
.border{
    background: black;
    margin:10px;
    text-align: center;
    border-radius: 15px;
}
.options{
    display: inline-flex;
    color:#f0f8f0;
    margin:10px;
    padding: 10px;
}
button{
    margin-left: 35px;
    padding:8px;
    border-radius:9px;
    background-color: rgb(40, 180, 40);
    border: solid;
}
button:hover{
    cursor: pointer;
    font-size: 1.1em;
}

footer{
    background-color: rgb(40, 180, 40);
    line-height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:12px;
    padding:3px;
    border-radius: 8px 19px 39px 17px;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
}
hr{
    margin:12px;
    border:solid white 1px;
}
.email{
    text-decoration: none;
    color:white;
    font-family:arial;
    border:1px solid rgb(51, 48, 48);
    background-color: rgb(51, 48, 48);
    border-radius: 5px;
    padding:6px;
    margin: 6px;
}